[submodule "performance-tools"]
	path = performance-tools
	url = https://github.com/intel-retail/performance-tools.git
	branch = main

[submodule "edge-ai-libraries"]
	path = edge-ai-libraries
	url = https://github.com/sachinkaushik/edge-ai-libraries.git
	branch = ITEP-92367
